{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base"
  ],
  "globals": {
    "chrome": true,
    "fetch": true,
    "Promise": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "import"
  ],
  "rules": {
    "max-len": [
      "warn",
      120
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js"],
        "moduleDirectory": ["node_modules", "src"]
      }
    }
  }
}
