{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base"
  ],
  "globals": {
    "chrome": true,
    "fetch": true,
    "Promise": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  }
}
